body {
    background-color: black;
    background-image: url(../images/background-image.jpg);
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
}

#instructionsLink {
    color: yellow;
    font-family: 'Archivo Narrow', sans-serif;
}