body {
    
    background-image: url(../images/BACKGROUND\ IMAGE\ star-wars-episode-vi_-return-of-the-jedi-wallpapers-29929-6793784.jpg);
    background-attachment: fixed;
    background-position: right;
}