body {
    background-color: black;
    background-image: url(../images/background-image.jpg);
    background-attachment: fixed;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 80%;
}

p {
    
    font-family: 'Archivo Narrow', sans-serif;
    
}

#link {
    color: rgb(255, 230, 0);
    font-family: 'Archivo Narrow', sans-serif;
    text-shadow: 0 0 50px red;
}

.invisible {
    visibility: hidden;
}

.box {
    border-style: dotted;
    padding: 10px;
    border-color: rgb(253, 247, 197);
    border-width: 5px;
}

.display {
    color: rgb(255, 230, 0);
    font-family: 'Archivo Narrow', sans-serif;
    text-align: center;
    /* border-style: dotted;
    padding: 10px;
    border-color: rgb(253, 247, 197);
    border-width: 5px; */
}

.btn {
    float: right;
    size: 200%;
}

.characterImage {
    width: 75%;
    height: auto;
}

.characterButton {
    background-color: peachpuff;
    border-style: groove;
    border-color: green;
    border-width: 10px;
    font-size: 25px;
}

.possibleEnemies {
    background-color: black;
    border-style: groove;
    border-width: 10px;
    border-color: red;
    color: white;
}

.enemyButton {
    background-color: black;
    border-style: groove;
    border-width: 10px;
    border-color: green;
    color: white;
}


#gameText {
    color: rgb(255, 230, 0);
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 70px;
    text-shadow: 0 0 50px red;
    
}






/* this stuff is for the rolling title instructions */
#titles {
    padding: 10px;
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 350%;
    font-weight: bold;
    font-family: 'Archivo Narrow', sans-serif;
    color: rgb(255, 230, 0);
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px);
}

#titles:after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
    pointer-events: none;
}

#titlecontent {
    position: absolute;
    top: 100%;
    animation: scroll 100s linear 0s infinite;
}

@keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
}


